@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: "Regular";   
        src: local("ShareTechMono-Regular"),
      url("./ShareTechMono-Regular.ttf") format("truetype");
  }
  #root{
    font-family: "Regular";
    color:wheat !important;
  }
 